<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://dozer.sourceforge.net
          http://dozer.sourceforge.net/schema/beanmapping.xsd">
          
    <mapping map-null="false" map-empty-string="false">
        <class-a>se.geomarket.backend.geomarket.entity.Event</class-a>
        <class-b>se.geomarket.backend.geomarket.dto.EventDto</class-b>
        <field>
            <a>defaultLanguage.extId</a>
            <b>languageId</b>
        </field>
        <field>
            <a>company.extId</a>
            <b>companyId</b>
        </field>
        <field>
            <a>category.extId</a>
            <b>categoryId</b>
        </field>
        <field>
            <a>eventType.extId</a>
            <b>eventTypeId</b>
        </field>
    </mapping>
    
    
</mappings>
