<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://dozer.sourceforge.net
          http://dozer.sourceforge.net/schema/beanmapping.xsd">
          
    
    <mapping map-null="false" map-empty-string="false">
        <class-a>se.dibbler.backend.entity.PublishedEvent</class-a>
        <class-b>se.dibbler.backend.dto.PublishedEventDto</class-b>     
        <field>
            <a>languageId</a>
            <b>language</b>
        </field>
        <field>
            <a>latitude</a>
            <b>location.latitude</b>
        </field>
        <field>
            <a>longitude</a>
            <b>location.longitude</b>
        </field>
        <field>
            <a>eventTypeId</a>
            <b>eventType</b>
        </field>
        <field>
            <a>categoryId</a>
            <b>category</b>
        </field>
        <field>
            <a>companyName</a>
            <b>company.name</b>
        </field>  
        <field>
            <a>companyStreet</a>
            <b>company.street</b>
        </field>    
        <field>
            <a>companyStreetNr</a>
            <b>company.streetNr</b>
        </field>  
        <field>
            <a>companyCity</a>
            <b>company.city</b>
        </field> 
        <field>
            <a>companyState</a>
            <b>company.state</b>
        </field> 
        <field>
            <a>companyCountry</a>
            <b>company.country</b>
        </field>  
        <field>
            <a>companyPostalCode</a>
            <b>company.postalCode</b>
        </field> 
        <field>
            <a>companyWww</a>
            <b>company.www</b>
        </field>    
        <field>
            <a>companyPhone</a>
            <b>company.phone</b>
        </field>  
        <field>
            <a>expires</a>
            <b>expires</b>
        </field>   
        <field>
            <a>heading</a>
            <b>text.heading</b>
        </field>  
        <field>
            <a>body</a>
            <b>text.body</b>
        </field>   
        <field>
            <a>eventId</a>
            <b>event</b>
        </field> 
    </mapping>
    
    <!-- EVENT TO PUBLISHED DTO -->
    <mapping map-null="false" map-empty-string="false">
        <class-a>se.dibbler.backend.entity.PublishedEvent</class-a>
        <class-b>se.dibbler.backend.entity.Event</class-b>             
        <field>
            <a>latitude</a>
            <b>company.location.latitude</b>
        </field>
        <field>
            <a>longitude</a>
            <b>company.location.longitude</b>
        </field>
        <field>
            <a>eventTypeId</a>
            <b>eventType.extId</b>
        </field>
        <field>
            <a>categoryId</a>
            <b>category.extId</b>
        </field>
        <field>
            <a>companyName</a>
            <b>company.name</b>
        </field>  
        <field>
            <a>companyStreet</a>
            <b>company.street</b>
        </field>    
        <field>
            <a>companyStreetNr</a>
            <b>company.streetNr</b>
        </field>  
        <field>
            <a>companyCity</a>
            <b>company.city</b>
        </field> 
        <field>
            <a>companyState</a>
            <b>company.state</b>
        </field> 
        <field>
            <a>companyCountry</a>
            <b>company.country</b>
        </field>  
        <field>
            <a>companyPostalCode</a>
            <b>company.postalCode</b>
        </field> 
        <field>
            <a>companyWww</a>
            <b>company.www</b>
        </field>    
        <field>
            <a>companyPhone</a>
            <b>company.phone</b>
        </field>  
        <field>
            <a>expires</a>
            <b>endDate</b>
        </field>  
        <field>
            <a>starts</a>
            <b>startDate</b>
        </field>             
    </mapping>
    
</mappings>