<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://dozer.sourceforge.net
          http://dozer.sourceforge.net/schema/beanmapping.xsd">
    
    
    
    <mapping map-null="false" map-empty-string="false">
        <class-a>se.dibbler.backend.entity.Users</class-a>
        <class-b>se.dibbler.backend.dto.summary.UserSummaryDto</class-b>  
    </mapping>
    
    <mapping map-null="false" map-empty-string="false">
        <class-a>se.dibbler.backend.dto.UsersDto</class-a>
        <class-b>se.dibbler.backend.dto.summary.UserSummaryDto</class-b> 
    </mapping>
    
    <mapping map-null="false" map-empty-string="false" >
        <class-a>se.dibbler.backend.entity.Users</class-a>
        <class-b>se.dibbler.backend.dto.UsersDto</class-b>  
    </mapping>
    
</mappings>