<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://dozer.sourceforge.net
          http://dozer.sourceforge.net/schema/beanmapping.xsd">
          
    <!-- IF YOU UPDATE THIS DO NOT FORGET TO UPDATE IT IN THE companyMapper.xml -->
    
    <mapping map-null="false" type="one-way">
        <class-a>se.dibbler.backend.dto.ErrorLogDto</class-a>
        <class-b>se.dibbler.backend.entity.ErrorLog</class-b>
        <field>
            <a>id</a>
            <b>extId</b>
        </field>
    </mapping>
    
</mappings>
