*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

java/logs
java/project/project
java/project/target
java/target
java/tmp
java/.history
java/dist
java/.settings
java/.project
java/.classpath
java/.target

scala/logs
scala/project/project
scala/project/target
scala/target
scala/tmp
scala/.history
scala/dist
scala/.classpath
scala/.project
scala/.settings
/JavaEE/Geomarket/target/
/JavaEE/Geomarket/nb-configuration.xml
/JavaEE/Parent/GeomarketPom/pom.xml.releaseBackup
/JavaEE/Parent/GeomarketPom/release.properties
/JavaEE/GeomarketDB/geomarketdb/nb-configuration.xml
/JavaEE/Geomarket/src/main/setup/glassfish-resources.xml
/JavaEE/Geomarket/.settings
/JavaEE/Geomarket/.classpath
/JavaEE/Geomarket/.project
