*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

java/logs
java/project/project
target/
java/.history
java/dist
.settings
.project
.classpath
activator-sbt*.sbt

scala/logs
scala/project/project
scala/project/target
scala/target
scala/tmp
scala/.history
scala/dist
scala/.classpath
scala/.project
scala/.settings
/JavaEE/Geomarket/nb-configuration.xml
/JavaEE/Parent/GeomarketPom/pom.xml.releaseBackup
/JavaEE/Parent/GeomarketPom/release.properties
/JavaEE/GeomarketDB/geomarketdb/nb-configuration.xml
/JavaEE/Geomarket/src/main/setup/glassfish-resources.xml
/JavaEE/Geomarket/.settings
/JavaEE/Geomarket/.classpath
/JavaEE/Geomarket/.project
/JavaEE/Dibbler/Model/nbproject/private/
/Dibbler/src/main/webapp/apidocs
/Dibbler/src/main/webapp/apidocs
apidocs
/Dibbler/src/main/webapp/apidocs/50ac693e-ab2a-4863-b466-afa64547f21c.json
/Dibbler/src/main/webapp/apidocs/categories.json
/Dibbler/src/main/webapp/apidocs/companies.json
/Dibbler/src/main/webapp/apidocs/companyUsers.json
/Dibbler/src/main/webapp/apidocs/css/reset.css
/Dibbler/src/main/webapp/apidocs/css/screen.css
/Dibbler/src/main/webapp/apidocs/eventTypes.json
/Dibbler/src/main/webapp/apidocs/events.json
/Dibbler/src/main/webapp/apidocs/filters.json
/Dibbler/src/main/webapp/apidocs/images/explorer_icons.png
/Dibbler/src/main/webapp/apidocs/images/logo_small.png
/Dibbler/src/main/webapp/apidocs/images/pet_store_api.png
/Dibbler/src/main/webapp/apidocs/images/throbber.gif
/Dibbler/src/main/webapp/apidocs/images/wordnik_api.png
/Dibbler/src/main/webapp/apidocs/index.html
/Dibbler/src/main/webapp/apidocs/indexes.json
/Dibbler/src/main/webapp/apidocs/languages.json
/Dibbler/src/main/webapp/apidocs/lib/.DS_Store
/Dibbler/src/main/webapp/apidocs/lib/backbone-min.js
/Dibbler/src/main/webapp/apidocs/lib/handlebars-1.0.0.js
/Dibbler/src/main/webapp/apidocs/lib/highlight.7.3.pack.js
/Dibbler/src/main/webapp/apidocs/lib/jquery-1.8.0.min.js
/Dibbler/src/main/webapp/apidocs/lib/jquery.ba-bbq.min.js
/Dibbler/src/main/webapp/apidocs/lib/jquery.slideto.min.js
/Dibbler/src/main/webapp/apidocs/lib/jquery.wiggle.min.js
/Dibbler/src/main/webapp/apidocs/lib/shred.bundle.js
/Dibbler/src/main/webapp/apidocs/lib/shred/content.js
/Dibbler/src/main/webapp/apidocs/lib/swagger-oauth.js
/Dibbler/src/main/webapp/apidocs/lib/swagger.js
/Dibbler/src/main/webapp/apidocs/lib/underscore-min.js
/Dibbler/src/main/webapp/apidocs/locationGroups.json
/Dibbler/src/main/webapp/apidocs/locations.json
/Dibbler/src/main/webapp/apidocs/movements.json
/Dibbler/src/main/webapp/apidocs/o2c.html
/Dibbler/src/main/webapp/apidocs/roles.json
/Dibbler/src/main/webapp/apidocs/service.json
/Dibbler/src/main/webapp/apidocs/settings.json
/Dibbler/src/main/webapp/apidocs/swagger-ui.js
/Dibbler/src/main/webapp/apidocs/swagger-ui.min.js
/Dibbler/src/main/webapp/apidocs/users.json
