<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://dozer.sourceforge.net
          http://dozer.sourceforge.net/schema/beanmapping.xsd">
    
    <!-- SUPERCLASS -->
    
    <mapping map-null="false" map-empty-string="false">
        <class-a>se.dibbler.backend.entity.Company</class-a>
        <class-b>se.dibbler.backend.dto.CompanyDto</class-b>
         <field>
            <a>parentCompany.extId</a>
            <b>parentCompanyId</b>
        </field>
    </mapping>
    
    <mapping map-null="false" map-empty-string="false">
        <class-a>se.dibbler.backend.entity.Location</class-a>
        <class-b>se.dibbler.backend.dto.LocationDto</class-b>            
    </mapping>
    
    <mapping map-null="false" map-empty-string="false">
        <class-a>se.dibbler.backend.entity.LocationGroup</class-a>
        <class-b>se.dibbler.backend.dto.LocationGroupDto</class-b>            
    </mapping>
    
    
    <mapping map-null="false" map-empty-string="false">
        <class-a>se.dibbler.backend.entity.Location</class-a>
        <class-b>se.dibbler.backend.dto.summary.LocationSummaryDto</class-b>            
    </mapping>
    
</mappings>
